$icon-font-path: '../fonts/';

$primaryColor:#EC5564;
$secColor: #222;
$tileColor:#fff;
$itemColor: #afafaf;
$focusColor: blue;
$bgColor: #eee;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  background-color: $bgColor;
  /*define font-size at app level*/
}

/* Custom page header */

header {
  clear: both;
  padding: 15px;
  background-color: $primaryColor;
  min-height: 50px;
  .header__brand {
    float: left;
  }
  .header__options {
    float: right;
    >* {
      padding-left: 10px;
      color: #fff;
    }
    .navbar__options--link {
      border: 1px solid #fff;
      border-radius: 2em;
      padding: 0.3em 1em;
      &:hover {
        text-decoration: none;
        color: $focusColor;
      }
    }
    .navbar-toggle {
      padding: 0;
      margin: 0;
      margin-left: 10px;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
}
.tile{
  background-color: $tileColor;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  a:hover{
    color: $focusColor;
  }
}

.show-more{
  display: inline-block;
  background-color: #000;
  position: relative;
  img{
    opacity: 0.3;
  }
  .show-more-text{
    position: absolute;
    display: inline-block;
    top:40%;
    width:100%;
    z-index: 100;
    color:#fff;
    text-align: center;
  }
  
}



.page-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  i:before{
    font-size: 32px;
  }
  div {
    a {
      text-decoration: none;
      color: $itemColor;
      &.focus {
        color: $focusColor;
      }
    }
  }
}
.post-box{
  img{
    width:45px;
    height:45px;
    margin-right:5px;
    border-radius: 10%;
  }
  .postBox__text{
    border: none;
    border-radius: 5px;
    color: $itemColor;
  }
}

.divider-hz{
    border-top:1px solid $bgColor;
    margin: auto;
}

.page-links{

  .pl-row{
      display: flex;
      div{
        min-width: 50%;
        display: inline-flex;
        align-items: center;
        &:nth-child(1){
          border-right: 1px solid $bgColor;
        }
      }
      .pl-title{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
      }
  }
  i:before{
    color: $focusColor;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.showcase{
  >div{
    padding-bottom: 5px;
    border-bottom: 2px solid $bgColor;
  }
  .prem-heading{
    font-size: 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
  .seller{
    display: flex;
    align-items: center;
    .seller-icon{
      width: 80px;
      height:80px;
      padding: 5px;
      img{
        width: 100%;
      }
    }
    .seller-info{
      font-size: 12px;
      flex:2;
      .seller-name{
        font-weight: bold;
          &.verified::after{
          content: 'vf'; /*TODO: add tick mark utf code */
          color: red;
        }
      }
      .seller-city{
        color: #999;
      }
      
    }
      
    .seller-connect{
      color: #999;
      a{
      padding: 5px;
      border: solid 1px #999;
      border-radius: 2em;
      color: #999;
      text-decoration: none;
      }
    }
  }

  .gallery{
    .images{
      display: flex;
      .more{  
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.more-products{
  .title{

  }
  .images{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    div{
      min-width: 125px;
    }
    
  }
}
.interact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: $secColor;
    .flaticon-love{
      color: $primaryColor;
    }
}


.chat-history{
  .chat-item{
    border-bottom: solid 1px $bgColor;
    display: flex;
    color: $secColor;
     .user-name{
       color: $focusColor;
       &::after{
         content: ','
       }
     }
      .user-city{
        color: $secColor;
        font-size: 80%;
      }

  }
}
.post-msg{
  display: flex;
  align-items: stretch;
  input{
    height:100%;
    border: none;
    width:60%;
  }
  .post-msg-btn{
    background-color: #4C50C5;
    color: #fff;
    padding: 10px;
    border:none;
  }
}
/* Custom page footer */

footer {
  padding-top: 19px;
  color: $primaryColor;
  border-top: 1px solid $bgColor;
}

/* Customize container to show mobile view always*/
body{
  width: 425px;
  margin: auto;
}
