$icon-font-path: '../fonts/';

$primaryColor:#EC5564;
$secColor: #222;
$tileColor:#fff;
$itemColor: #afafaf;
$focusColor: blue;
$bgColor: #eee;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// .browserupgrade {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }
body{
  background-color: $bgColor;
  /*define font-size at app level*/
}

/* Custom page header */

header {
  clear: both;
  padding: 15px;
  background-color: $primaryColor;
  min-height: 50px;
  .header__brand {
    float: left;
  }
  .header__options {
    float: right;
    >* {
      padding-left: 10px;
      color: #fff;
    }
    .navbar__options--link {
      border: 1px solid #fff;
      border-radius: 2em;
      padding: 0.3em 1em;
      &:hover {
        text-decoration: none;
        color: $focusColor;
      }
    }
    .navbar-toggle {
      padding: 0;
      margin: 0;
      margin-left: 10px;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
}
.tile{
  background-color: $tileColor;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  a:hover{
    color: $focusColor;
  }
}

.page-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  i:before{
    font-size: 32px;
  }
  div {
    a {
      text-decoration: none;
      color: $itemColor;
      &.focus {
        color: $focusColor;
      }
    }
  }
}
.post-box{
  display: grid;
  grid-template-columns: 50px auto;
  img{
    width:45px;
    height:45px;
    margin-right:5px;
    border-radius: 10%;
  }
  .postBox__text{
    border: none;
    border-radius: 5px;
    color: $itemColor;
  }
}
.page-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  i:before{
    font-size: 48px;
    color: $focusColor;
  }
}



/* Custom page footer */

footer {
  padding-top: 19px;
  color: $primaryColor;
  border-top: 1px solid $bgColor;
}


/* Customize container to show mobile view always*/

// @media (min-width: 768px) {
//   body {
//     max-width: 425px;
//     margin: auto;
//   }
// }
